<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078425573818-fgrc54lvho31jqt59jm02n9a7iv2bnn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078425573818-fgrc54lvho31jqt59jm02n9a7iv2bnn5</string>
	<key>API_KEY</key>
	<string>AIzaSyBaFR3jFR1YTuVCawHvx2fdF4a-9XloDEs</string>
	<key>GCM_SENDER_ID</key>
	<string>1078425573818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vsu.csf.client</string>
	<key>PROJECT_ID</key>
	<string>renty-65ead</string>
	<key>STORAGE_BUCKET</key>
	<string>renty-65ead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078425573818:ios:ec07a13cc8c52d4fb12583</string>
</dict>
</plist>